package components

import (
	"fmt"
	datastar "github.com/starfederation/datastar/sdk/go"
)

templ Dashboard(name string) {
	{{
		isAdmin := name == "admin"
	}}
	<div data-on-load={ datastar.GetSSE("/api/dashboard/updates") }>
		<div class="flex flex-col sm:flex-row items-center p-4 bg-accent shadow-md w-full mb-4 rounded-md">
			<div class="flex flex-col sm:flex-row gap-3 w-full sm:w-auto">
				<button
					class="btn btn-primary rounded-md flex items-center justify-center text-center text-primary-content px-4 py-2 sm:px-6 sm:py-3 w-full sm:w-auto"
					data-on-click={ datastar.PostSSE("/api/dashboard/create") }
				>
					🎮 Create Game
				</button>
				<button
					class="btn btn-secondary rounded-md px-4 py-2 sm:px-6 sm:py-3 text-secondary-content w-full sm:w-auto"
					data-on-click={ datastar.PostSSE("/api/dashboard/logout") }
				>
					🚪 Logout
				</button>
				if (isAdmin) {
					<button
						class="btn btn-error rounded-md flex items-center justify-center text-center text-error-content px-4 py-2 sm:px-6 sm:py-3 w-full sm:w-auto"
						data-on-click={ datastar.DeleteSSE("/api/dashboard/purge") }
					>
						🗑️ Delete Games
					</button>
				}
			</div>
		</div>
		<div
			id="list-container"
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full overflow-y-auto"
			style="max-height: 75vh;"
		></div>
	</div>
}

templ DashboardList(list []GameLobby, sessionId string) {
	<div
		id="list-container"
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full overflow-y-auto"
		style="max-height: 75vh;"
	>
		for _, listItem := range list {
			@DashboardListItem(&listItem, sessionId)
		}
	</div>
}

templ DashboardListItem(gameLobby *GameLobby, sessionId string) {
	{{
		isHost := gameLobby.HostId == sessionId
		isChallenger := gameLobby.ChallengerId == sessionId
		isFull := gameLobby.ChallengerId != ""

		gameSelector := fmt.Sprintf("game-%s", gameLobby.Id)
		showJoinButton := isHost || isChallenger || !isFull

		var status string
		if isFull && !isHost && !isChallenger {
			status = "🔒 Game is Full"
		} else if isFull && isHost {
			status = "✅ Game is Ready!"
		} else if isFull && isChallenger {
			status = "✅ Game is Ready!"
		} else {
			status = "🟢 Game is Open"
		}

		colorClass := "bg-base-300 text-base-content"
		if isHost {
			colorClass = "bg-base-100 text-primary-content"
		}

		cardClasses := fmt.Sprintf("p-6 shadow-lg flex flex-col w-full min-h-[220px] rounded-md %s", colorClass)
	}}
	<div id={ gameSelector } class={ cardClasses }>
		<p class="tracking-widest text-secondary-content text-sm font-bold">
			🎮 Game: { gameLobby.Name }
		</p>
		<p class="tracking-widest text-secondary-content text-sm font-bold">
			📊 Status: { status }
		</p>
		<div class="flex flex-col items-center justify-center w-full gap-2">
			if showJoinButton {
				<button
					class="btn btn-primary rounded-md flex items-center justify-center text-center text-primary-content w-full m-2 h-12 px-4"
					data-on-click={ datastar.PostSSE("/api/dashboard/%s/join", gameLobby.Id) }
				>
					🕹️ Join
				</button>
			}
			if isHost {
				<button
					class="btn btn-secondary rounded-md flex items-center justify-center text-center text-secondary-content w-full m-2 h-12 px-4"
					data-on-click={ datastar.DeleteSSE("/api/dashboard/%s/delete", gameLobby.Id) }
				>
					🗑️ Delete
				</button>
			}
		</div>
	</div>
}
