package pages

import (
	"github.com/rphumulock/datastar-nats-tictactoe/web/components"
	"github.com/rphumulock/datastar-nats-tictactoe/web/layouts"
)

templ AdminLogin() {
	@layouts.LoggedOut() {
		@components.AdminLogin(false)
	}
}

templ Admin() {
	@layouts.LoggedIn("Admin") {
		@components.Admin()
	}
}
