package pages

import (
	"github.com/rphumulock/datastar_nats_tictactoe/web/components"
	"github.com/rphumulock/datastar_nats_tictactoe/web/layouts"
)

templ Dashboard(name string) {
	@layouts.LoggedIn(name) {
		@components.Dashboard(name)
	}
}
