package pages

import (
	"github.com/rphumulock/datastar_nats_tictactoe/web/layouts"
	datastar "github.com/starfederation/datastar-go/datastar"
)

templ Index() {
	@layouts.LoggedOut() {
		<div id="login" data-init={ datastar.GetSSE("/api/index") }></div>
	}
}
